In [1]:
#• Parte 2 
#Realizar una ingesta de datos de un archivo formato .csv utilizando la librería de Pandas 
#Para este apartado, deberás poder ingestar un archivo en Jupyter Notebook en un formato de tipo .csv. 
#Resulta importante aclarar que, la elección del archivo queda a criterio propio, sin embargo a continuación 
#se proporciona un link de interés para la descarga gratuita de datasets. 
#• Enlace: https://www.kaggle.com/datasets(opens in a new tab) 
#Importante: en caso de no disponer de una cuenta en Kaggle, 
#será requerido realizar el registro correspondiente en la página.

In [2]:
import pandas as pd
df=pd.read_csv("G:/Argentina programa/4.0_python/proyecto final/cities.csv",sep=",")

In [3]:
print(df)

            id                 name  state_id state_code         state_name  \
0           52            Ashkāsham      3901        BDS         Badakhshan
1           68             Fayzabad      3901        BDS         Badakhshan
2           78                 Jurm      3901        BDS         Badakhshan
3           84              Khandūd      3901        BDS         Badakhshan
4          115            Rāghistān      3901        BDS         Badakhshan
...        ...                  ...       ...        ...                ...
150449  131496             Redcliff      1957         MI  Midlands Province
150450  131502             Shangani      1957         MI  Midlands Province
150451  131503             Shurugwi      1957         MI  Midlands Province
150452  131504    Shurugwi District      1957         MI  Midlands Province
150453  131508  Zvishavane District      1957         MI  Midlands Province

        country_id country_code country_name  latitude  longitude wikiDataId
0                1           AF  Afghanistan  36.68333   71.53333   Q4805192
1                1           AF  Afghanistan  37.11664   70.58002    Q156558
2                1           AF  Afghanistan  36.86477   70.83421  Q10308323
3                1           AF  Afghanistan  36.95127   72.31800   Q3290334
4                1           AF  Afghanistan  37.66079   70.67346   Q2670909
...            ...          ...          ...       ...        ...        ...
150449         247           ZW     Zimbabwe -19.03333   29.78333    Q584001
150450         247           ZW     Zimbabwe -19.78333   29.36667  Q32017959
150451         247           ZW     Zimbabwe -19.67016   30.00589  Q32019023
150452         247           ZW     Zimbabwe -19.75000   30.16667   Q7505444
150453         247           ZW     Zimbabwe -20.30345   30.07514  Q24235929

[150454 rows x 11 columns]

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df.head()

,id,name,state_id,state_code,state_name,country_id,country_code,country_name,latitude,longitude,wikiDataId
0,52,Ashkāsham,3901,BDS,Badakhshan,1,AF,Afghanistan,36.68333,71.53333,Q4805192
1,68,Fayzabad,3901,BDS,Badakhshan,1,AF,Afghanistan,37.11664,70.58002,Q156558
2,78,Jurm,3901,BDS,Badakhshan,1,AF,Afghanistan,36.86477,70.83421,Q10308323
3,84,Khandūd,3901,BDS,Badakhshan,1,AF,Afghanistan,36.95127,72.31800,Q3290334
4,115,Rāghistān,3901,BDS,Badakhshan,1,AF,Afghanistan,37.66079,70.67346,Q2670909

In [6]:
df.tail()

,id,name,state_id,state_code,state_name,country_id,country_code,country_name,latitude,longitude,wikiDataId
150449,131496,Redcliff,1957,MI,Midlands Province,247,ZW,Zimbabwe,-19.03333,29.78333,Q584001
150450,131502,Shangani,1957,MI,Midlands Province,247,ZW,Zimbabwe,-19.78333,29.36667,Q32017959
150451,131503,Shurugwi,1957,MI,Midlands Province,247,ZW,Zimbabwe,-19.67016,30.00589,Q32019023
150452,131504,Shurugwi District,1957,MI,Midlands Province,247,ZW,Zimbabwe,-19.75000,30.16667,Q7505444
150453,131508,Zvishavane District,1957,MI,Midlands Province,247,ZW,Zimbabwe,-20.30345,30.07514,Q24235929

In [8]:
df.count()

id              150454
name            150454
state_id        150454
state_code      150129
state_name      150454
country_id      150454
country_code    150406
country_name    150454
latitude        150454
longitude       150454
wikiDataId      147198
dtype: int64

In [10]:
df.dtypes

id                int64
name             object
state_id          int64
state_code       object
state_name       object
country_id        int64
country_code     object
country_name     object
latitude        float64
longitude       float64
wikiDataId       object
dtype: object

In [15]:
print(df.count)

<bound method DataFrame.count of             id                 name  state_id state_code         state_name  \
0           52            Ashkāsham      3901        BDS         Badakhshan
1           68             Fayzabad      3901        BDS         Badakhshan
2           78                 Jurm      3901        BDS         Badakhshan
3           84              Khandūd      3901        BDS         Badakhshan
4          115            Rāghistān      3901        BDS         Badakhshan
...        ...                  ...       ...        ...                ...
150449  131496             Redcliff      1957         MI  Midlands Province
150450  131502             Shangani      1957         MI  Midlands Province
150451  131503             Shurugwi      1957         MI  Midlands Province
150452  131504    Shurugwi District      1957         MI  Midlands Province
150453  131508  Zvishavane District      1957         MI  Midlands Province

        country_id country_code country_name  latitude  longitude wikiDataId
0                1           AF  Afghanistan  36.68333   71.53333   Q4805192
1                1           AF  Afghanistan  37.11664   70.58002    Q156558
2                1           AF  Afghanistan  36.86477   70.83421  Q10308323
3                1           AF  Afghanistan  36.95127   72.31800   Q3290334
4                1           AF  Afghanistan  37.66079   70.67346   Q2670909
...            ...          ...          ...       ...        ...        ...
150449         247           ZW     Zimbabwe -19.03333   29.78333    Q584001
150450         247           ZW     Zimbabwe -19.78333   29.36667  Q32017959
150451         247           ZW     Zimbabwe -19.67016   30.00589  Q32019023
150452         247           ZW     Zimbabwe -19.75000   30.16667   Q7505444
150453         247           ZW     Zimbabwe -20.30345   30.07514  Q24235929

[150454 rows x 11 columns]>

In [16]:
print(df.shape)

(150454, 11)

In [ ]:
#Primero se fue a la pagina
#Despues se descargo el archivo ,se descomprimio, 
#lo abri con blockdenotas para ver el separador que tenia y se subio a un nuevo notebook
#Por ultimo realice unos ejercicios de prueba, para ver que funcionara bien.